.App {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .project-details-viewer {
    padding: 20px;
    margin-top: 50px;
  }
  
  .project-card {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  img {
    display: block;
    margin-top: 10px;
  }
  